html,
body {
  font-family: 'Montserrat-Regular';
  height: 100%;
  min-height: 100%;
  margin: 0;
}

/* FONTS */

.text-light {
  font-family: 'Montserrat-Light';
}

.text-bold {
  font-family: 'Montserrat-Bold';
}

.text-extra-bold {
  font-family: 'Montserrat-ExtraBold';
}

.text-thin {
  font-family: 'Montserrat-Thin';
}

.text-medium {
  font-family: 'Montserrat-Medium';
}



#container{
	position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: #111517;
}
#wrapper{
	overflow: hidden;
	position:absolute;
	width: 100%;
	height: 100%;
	min-width: 100%;
  	min-height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	// transform: (translate(-50%, -50%));
	div{
		position: absolute;
		background-position: center center;
		background-size: cover;
	}
}

.p1{
	width: 105%;
	height: 105%;
	z-index: 0;
	background-image: url('./img/bg.jpg');
	left: 0;
	top: -5%;
	opacity: 0.75;
}
.p2{
	width: 130%;
	height: 100%;
	z-index: 2;
	background-image: url('./img/mountains.jpg');
	top: 8%;
	left: -13%;
}
.p3{
	width: 100%;
	height: 100%;
	z-index: 4;
	background-image: url('./img/trees.jpg');
	top: 0;
	left: 0;
}


.heading{
	color: #FDFDFD;
	text-transform: uppercase;
	z-index: 1;
	margin: 0;
	font-size: 3rem;
	text-align: center;
	@media screen and (min-width: 1024px) {
		font-size: 6rem;
	}
}

.subheading{
    color: #FDFDFD;
	z-index: 3;
	font-size: 2rem;
	text-align: center;
	@media screen and (min-width: 1024px) {
		font-size: 2.8rem;
		padding-bottom: 65px;
	}
}

.text{
    color: #FDFDFD;
	z-index: 5;
	@media screen and (min-width: 1024px) {
		font-size: 2rem;
	}
}

.icons{
	position: relative;
	display: flex;
	bottom: 0;
	i{
		color: white;
	}
}

.rebuildContainer{
	position: absolute;
	bottom: 0;
	z-index: 10;
	text-align: center;
	width: 100%;
	p{
		position: relative;
	}
	div{
		position: relative;
	}
}